<ion-header>
  <ion-navbar>
    <ion-title>dicas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sair()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item *ngIf="fotoPerfil">
    <ion-thumbnail item-left>
      <img src="{{facebook.fotoUrl}}">
    </ion-thumbnail>
    <h2>{{facebook.nome}}</h2>
    <h2>{{facebook.email}}</h2>    
  </ion-item>
  <ion-item *ngIf="!fotoPerfil">
    <ion-thumbnail item-left>
      <img src="assets/imgs/fotoPerfil.png">
    </ion-thumbnail>
    <h2>Nutri Brasil</h2>
    <h2>{{facebook.email}}</h2>    
  </ion-item>
</ion-content>
