<ion-content padding>
  <div padding ion-fixed>  
      <img class="logo" src="assets/imgs/CursoLogo.png" />

      <h2>Recuperar Senha</h2>
      <form [formGroup]="recuperarSenhaForm">
        <ion-item >
          <ion-label>
            <ion-icon name="person"></ion-icon>
            E-mail
          </ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="recuperarSenhaForm.controls['email'].touched && recuperarSenhaForm.controls['email'].errors">
          <ion-label class="msg-validacao" *ngIf="recuperarSenhaForm.controls['email'].errors.required">Email obrigatório</ion-label>
          <ion-label class="msg-validacao" *ngIf="!recuperarSenhaForm.controls['email'].errors.required && recuperarSenhaForm.controls['email'].errors.email">Email inválido</ion-label>
        </ion-item>

        <div class="buttons">
          <button ion-button block round (click)="recuperarSenha()" [disabled]="!recuperarSenhaForm.valid">Ok</button>
          <button ion-button block round (click)="voltar()">Voltar</button>
        </div>
      </form>
  </div>
</ion-content>
