page-recuperar-senha {
    h2 {
        text-align: center;
    }

    ng-invalid {
        border-bottom: 1px solid red;
    }

    .msg-validacao {
        font-size: 1.2rem;
        color: red;
    }

    .logo {
        width: auto;
        margin: auto;
        display: block;
        max-width: 30%;
        padding-top: 20px;
    }

    .textos {
        color: #000;
        background: none;
        text-align: center;

        a {
            color: #000;
        }
    }

    .buttons {
        margin-top: 20px;

        button {
            margin-top: 10px;
        }
    }

    ion-item {
        border-radius: 30px;
        padding-left: 10px;
        margin-bottom: 10px;
        color: #488aff;
        background-color: #488aff;
        opacity: 1;
        font-size: 0.9em;
    }
}
